<!-- cards -->

<div class="cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayotGap="20px">
    <mat-card>
        <!-- child- card component -->
        <app-widget-card bg="blue" icon="dashboard" desc="Dashboard" total="1200"></app-widget-card>
      </mat-card>
    
      <mat-card>
        <app-widget-card bg="orange" icon="home" desc="Institution" total="3"></app-widget-card>
      </mat-card>
    
      <mat-card>
        <app-widget-card bg="green" icon="person" desc="Students" total="2300"></app-widget-card>
      </mat-card>
    
      <mat-card>
        <app-widget-card bg="red" icon="group" desc="Employee" total="55"></app-widget-card>
      </mat-card>
      
</div>


<!-- chart -->
<app-widget-chart></app-widget-chart>

<div fxLayout="row" fxLayoutAlign="space-evently" fxLayoutGap="20px">
  <div fxFlex="60">
  <!-- table -->
   <app-widget-table></app-widget-table>
  </div>
 
  <div fxFlex="40">
     <!-- pie chart -->
    <app-widget-pie></app-widget-pie>
  </div>
</div>